*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

body{
height:100vh;
background:linear-gradient(to right,#000,#0f2027);
display:flex;
align-items:center;
justify-content:center;
color:white
}

.tudo{
width:1200px;
display:flex;
justify-content:space-between;
align-items:center
}

.esquerda{
width:55%
}

.logo{
width:60px;
margin-bottom:30px
}

.esquerda h1{
font-size:38px;
font-weight:300;
margin-bottom:40px
}

.esquerda span{
background: linear-gradient(45deg, orange, pink, purple);
background-clip: text;
color: transparent;
font-weight: bold;
}

.celular{
width:420px
}

.direita{
width:40%;
display:flex;
justify-content:center
}

.caixa{
width:400px;
padding:40px;
border-radius:20px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(20px)
}

.caixa h3{
margin-bottom:20px;
font-weight:400
}

.caixa input{
width:100%;
padding:14px;
margin-bottom:15px;
border-radius:10px;
border:1px solid #333;
background:transparent;
color:white
}

.caixa input::placeholder{
color:#aaa
}

.caixa button{
width:100%;
padding:14px;
border-radius:30px;
border:none;
margin-bottom:15px;
cursor:pointer;
font-weight:bold
}

.entrar{
background:#1d4ed8;
color:white
}

.face{
background:transparent;
border:1px solid #1d4ed8;
color:#1d4ed8
}

.criar{
background:transparent;
border:1px solid #555;
color:white
}

.esqueceu{
text-align:center;
margin-bottom:15px;
font-size:14px;
color:#ccc
}

.meta{
text-align:center;
margin-top:10px;
color:#aaa
}
